<!--Seccion Proyectos-->
<div class="sector">
    <div class="sector__caja">
        <div class="editores">
            <h2 class="sector__title">Proyectos</h2>
            <a href="#" class="btn_edit" onclick="agregarProyecto()"><i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>Este lindo Porftolio</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
        </div>
    </div>
</div>