<!--Seccion Skills-->
<!--El nivel de las Skills se podria seleccionar y mostrar con una barra-->
<div class="sector">
    <div class="sector__caja">
        <div class="editores">
            <h2 class="sector__title">Skills</h2>
            <a href="#" class="btn_edit" onclick="agregarSkill()"><i class="fa-solid fa-plus"></i></a>
        </div>

        <div class="sector__caja--item">
            <div class="editores">
                <h4>HTML y CSS</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Intermedio</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>Microsoft Excel</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Avanzado</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>Java</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Intermedio</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>Python</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Intermedio</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>JavaScript</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Basico</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>SQL</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Intermedio</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>Angular</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Basico</p>
        </div>
        <div class="sector__caja--item">
            <div class="editores">
                <h4>Spring Boot</h4>
                <div class="editores__icon">
                    <a href="#" class="btn_edit" onclick="editarEdu()"><i class="fa-solid fa-square-pen"></i></a>
                    <a href="#" class="btn_edit" onclick="eliminarEdu()"><i class="fa-solid fa-trash" style="font-size: 22px;"></i></a>						
                </div>
            </div>
            <p class="nivel">Basico</p>
        </div>
    </div>
</div>